[Unit]
Description=Fancontrol daemon

[Service]
Type=simple
ExecStart=/home/pi/RPiFanControl/fancontrol.py
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
